
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  overflow-x: hidden;
}
.toast-body {
  background: linear-gradient(135deg, #ff3b30, #ff9500);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 20px; /* Adjust top position */
  right: 20px; /* Adjust right position */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 9999; /* Ensure the toast is above other elements */
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
